# Node modules
node_modules/

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build outputs
dist/
build/

# Docker
.dockerignore

# OS-specific
.DS_Store
Thumbs.db

# Others
*.swp
*.swo